@model SpellingDb.Models.Word

@{
    ViewData["Title"] = "Create";
}
<h2>Create Word Entry</h2>

<div class="row">
    <form asp-action="Search">
        <div class="form-group col-md-8">
            <input type="hidden" asp-for="Grade" />
            <input type="hidden" asp-for="List" />
            <label asp-for="Name" class="control-label">Search Name</label>
            <input asp-for="Name" class="form-control" />
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </form>
</div>

@*<form asp-action="SearchOxford">
    <div class="form-group">
        <input type="hidden" asp-for="Grade" />
        <input type="hidden" asp-for="List" />
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <input type="submit" value="Search Oxford" class="btn btn-default" />
    </div>
</form>*@

<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-action="AddToDb">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartOfSpeech" class="control-label">Part of Speech</label>
                <input asp-for="PartOfSpeech" class="form-control" />
                <span asp-validation-for="PartOfSpeech" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Definition" class="control-label"></label>
                <input asp-for="Definition" class="form-control" />
                <span asp-validation-for="Definition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Example" class="control-label"></label>
                <input asp-for="Example" class="form-control" />
                <span asp-validation-for="Example" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Synonyms" class="control-label"></label>
                <input asp-for="Synonyms" class="form-control" />
                <span asp-validation-for="Synonyms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="List" class="control-label"></label>
                <input asp-for="List" class="form-control" />
                <span asp-validation-for="List" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add To Database" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}